{{ define "bitrix24.message" }}

{{ if gt (len .Alerts.Firing) 0 }}
{{ range $index, $alert := .Alerts.Firing }}
{{ if eq $index 0 }}
{{ if eq $alert.Labels.severity "critical" }}[COLOR=#CC0000]🔥 Внимание![/COLOR]{{ else }}[COLOR=#FF9900]⚠️ Внимание![/COLOR]{{ end }}
[BR][B]Триггер:[/B] {{ $alert.Annotations.summary }}
[BR][B]Приоритет:[/B] {{ $alert.Labels.severity }}
[BR][B]Описание:[/B] {{ $alert.Annotations.description }}
{{ if $alert.Labels.job }}
[BR][B]Job:[/B] {{ $alert.Labels.job }}
{{ end }}
{{ end }}
{{ end }}

{{ $hasDetails := false }}
{{ $hasHosts := false }}{{ $hasGroups := false }}{{ $hasConsumerGroups := false }}{{ $hasValues := false }}

{{ range .Alerts.Firing }}
 {{ if .Labels.instance }}{{ $hasHosts = true }}{{ $hasDetails = true }}{{ end }}
 {{ if .Labels.group }}{{ $hasGroups = true }}{{ $hasDetails = true }}{{ end }}
 {{ if .Labels.consumergroup }}{{ $hasConsumerGroups = true }}{{ $hasDetails = true }}{{ end }}
 {{ if .Annotations.valueabsolute }}{{ $hasValues = true }}{{ $hasDetails = true }}{{ end }}
{{ end }}

{{ if $hasDetails }}
[BR][BR][U][B]Детали инцидента:[/B][/U][BR]

{{ if $hasHosts }}
[BR][B]Хост:[/B]
{{ range .Alerts.Firing }}{{ if .Labels.instance }}[BR]{{ .Labels.instance }} (Значение: {{ .Annotations.value }}){{ end }}{{ end }}
{{ end }}

{{ if $hasGroups }}
[BR][B]Группа:[/B]
{{ range $index, $alert := .Alerts.Firing }}
 {{ if and (eq $index 0) $alert.Labels.group }}[BR]{{ $alert.Labels.group }}{{ end }}
{{ end }}
{{ end }}

{{ if $hasConsumerGroups }}
[BR][B]Consumer Group:[/B]
{{ range .Alerts.Firing }}{{ if .Labels.consumergroup }}
[BR]{{ .Labels.consumergroup }} (Lag: {{ .Annotations.valueabsolute }})
{{ end }}{{ end }}
{{ end }}

{{ end }}
{{ end }}

{{ if and (gt (len .Alerts.Resolved) 0) (eq (len .Alerts.Firing) 0) }}
[COLOR=#00AA00]✓ Проблема решена![/COLOR]

{{ range $index, $alert := .Alerts.Resolved }}{{ if eq $index 0 }}
[BR][B]Триггер:[/B] {{ $alert.Annotations.summary }}
[BR][B]Приоритет:[/B] {{ $alert.Labels.severity }}
[BR][B]Описание:[/B] {{ $alert.Annotations.description }}
{{ if $alert.Labels.job }}
[BR][B]Job:[/B] {{ $alert.Labels.job }}
{{ end }}
{{ end }}
{{ end }}

{{ $hasDetails := false }}
{{ $hasHosts := false }}{{ $hasGroups := false }}{{ $hasConsumerGroups := false }}{{ $hasValues := false }}

{{ range .Alerts.Resolved }}
 {{ if .Labels.instance }}{{ $hasHosts = true }}{{ $hasDetails = true }}{{ end }}
 {{ if .Labels.group }}{{ $hasGroups = true }}{{ $hasDetails = true }}{{ end }}
 {{ if .Labels.consumergroup }}{{ $hasConsumerGroups = true }}{{ $hasDetails = true }}{{ end }}
 {{ if .Annotations.valueabsolute }}{{ $hasValues = true }}{{ $hasDetails = true }}{{ end }}
{{ end }}

{{ if $hasDetails }}
[BR][BR][U][B]Детали инцидента:[/B][/U][BR]

{{ if $hasHosts }}
[BR][B]Хост:[/B]
{{ range .Alerts.Resolved }}{{ if .Labels.instance }}[BR]{{ .Labels.instance }} (Значение: {{ .Annotations.value }}){{ end }}{{ end }}
{{ end }}

{{ if $hasGroups }}
[BR][B]Группа:[/B]
{{ range $index, $alert := .Alerts.Resolved }}
 {{ if and (eq $index 0) $alert.Labels.group }}[BR]{{ $alert.Labels.group }}{{ end }}
{{ end }}
{{ end }}

{{ if $hasConsumerGroups }}
[BR][B]Consumer Group:[/B]
{{ range .Alerts.Resolved }}{{ if .Labels.consumergroup }}
[BR]{{ .Labels.consumergroup }} (Lag: {{ .Annotations.valueabsolute }})
{{ end }}{{ end }}
{{ end }}

{{ end }}
{{ end }}
{{ end }}